<div>
    <h1>libreria</h1>

    <label>Título</label>
    <input type="text" name="cajatitulo" #cajatitulo="ngModel" [(ngModel)]="comic.titulo">
    <label>Descripción</label>
    <input type="text" name="cajadescripcion" #cajatitulo="ngModel" [(ngModel)]="comic.descripcion">
    <label>Imagen</label>
    <input type="text" name="cajaimagen" #cajatitulo="ngModel" [(ngModel)]="comic.imagen">
    <button (click)="addComic()">Añadir</button>

    <div *ngFor="let comic of comics">
        <app-comic [comic]="comic"></app-comic>
    </div>
</div>